.nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: gainsboro;
  align-items: center;
  box-sizing: border-box;
  padding: 20px, 16px;
}

button {
  border: 0;
}
